/* Colors */
$primary-color-black: #222222
$secondary-color-orange: #FA7436
$paragraph-color: #666666
$bg-color: #F7F8FC
$try-color-orange: #f6cebc51
$try-color-blue: #b2cefa75
$try-color-yellow: #f8e9c591

/* Fonts */
$font-source: 'Volkhov', serif
$font-source-2: 'Poppins', sans-serif
$regular-weight: 400
$bold-weight: 700