:root {
  --primary-color-black: #222222;
  --secondary-color-orange: #FA7436;
  --paragraph-color: #666666;
  --font-source: 'Volkhov', serif;
  --regular-weight: 400;
  --bold-weight: 700;
}

.deals-discount {
  width: 100%;
  height: 960px;
  border: 1px solid red;
}

.deals-discount .title {
  text-align: center;
  color: red;
}
