/* Colors */
/* Fonts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Volkhov", serif;
}

.deals-discount {
  width: 100%;
  height: 760px;
}
.deals-discount__title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
}
.deals-discount__title span {
  color: #FA7436;
}
.deals-discount__text {
  display: block;
  width: 430px;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #666666;
}
.deals-discount__gallery-container {
  margin: 50px auto;
}
.deals-discount__gallery-container--card {
  font-family: "Poppins", sans-serif;
  width: 270px !important;
  height: 426px !important;
  border-radius: 8px;
}
.deals-discount__gallery-container--card .card-image {
  border-radius: 8px;
}
.deals-discount__gallery-container--card .card-image:hover {
  filter: brightness(70%);
}
.deals-discount__gallery-container--card .location-prices {
  width: 100%;
  height: 30px;
  margin-top: 20px;
}
.deals-discount__gallery-container--card .location-prices .location {
  width: 80px;
  height: 100%;
}
.deals-discount__gallery-container--card .location-prices .location span {
  font-size: 1.6rem;
  color: #666666;
}
.deals-discount__gallery-container--card .location-prices .prices {
  width: 110px;
  height: 100%;
}
.deals-discount__gallery-container--card .location-prices .prices__old {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 53px;
  height: 28px;
  font-size: 1.6rem;
  color: #666666;
  text-decoration: line-through;
}
.deals-discount__gallery-container--card .location-prices .prices__current {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 53px;
  height: 28px;
  background-color: #FFE7DB;
  color: #FA7436;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 8px;
}
.deals-discount__gallery-container--title {
  font-size: 2.4rem;
}
.deals-discount__gallery-container .rank {
  width: 50px;
}
.deals-discount__gallery-container .rank__span {
  font-size: 1.6rem;
  color: #666666;
}
.deals-discount__buttons-container {
  width: 104px;
  height: 40px;
  margin: 0 auto;
}
.deals-discount__buttons-container--button {
  border: none;
  background-color: transparent;
}

.vacation {
  width: 100%;
  height: 760px;
  display: grid;
}
.vacation .info-wrapper {
  width: 480px;
  margin: 0 auto;
  position: relative;
}
.vacation .info-wrapper img {
  width: 105px;
  height: 85px;
  object-fit: contain;
  position: absolute;
  right: -105px;
}
.vacation__title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
}
.vacation__title span {
  color: #FA7436;
}
.vacation__text {
  display: block;
  width: 430px;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #666666;
}
.vacation__gallery-container {
  margin: 50px auto;
}
.vacation__gallery-container--card {
  font-family: "Poppins", sans-serif;
  width: 370px !important;
  height: 447px !important;
  border-radius: 16px;
  padding: 0;
}
.vacation__gallery-container--card .card-image {
  width: 100% !important;
  height: 327px !important;
  object-fit: cover;
  border-radius: 16px;
}
.vacation__gallery-container--card .trip-rank {
  width: 100%;
}
.vacation__gallery-container--card .trip-rank .trip span {
  font-size: 1.6rem;
  color: #666666;
}
.vacation__gallery-container--card .trip-rank .rank {
  width: 50px;
}
.vacation__gallery-container--card .trip-rank .rank__span {
  font-size: 1.6rem;
  color: #666666;
}
.vacation__gallery-container--title {
  font-size: 2.4rem;
}
.vacation__gallery-container--text {
  font-size: 2.4rem;
  font-weight: 700;
  color: #FA7436;
}
.vacation .wrapper {
  width: 114px;
  height: 40px;
  justify-self: end;
}
.vacation__buttons-container--button {
  border: none;
  background-color: transparent;
}

.blog {
  width: 100%;
  height: 760px;
}
.blog__title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
}
.blog__title span {
  color: #FA7436;
}
.blog__gallery-container {
  margin: 50px auto;
}
.blog__gallery-container--card {
  font-family: "Poppins", sans-serif;
  width: 270px !important;
  height: 388px !important;
  border-radius: 16px;
  padding: 0;
}
.blog__gallery-container--card .card-image {
  width: 100% !important;
  height: 270px !important;
  object-fit: cover;
  border-radius: 16px;
}
.blog__gallery-container--card .card-title {
  font-size: 1.8rem;
}
.blog__gallery-container--card .card-text {
  font-size: 1.6rem;
  color: #666666;
}
.blog__buttons-container {
  width: 60px;
  height: 20px;
}
.blog__buttons-container--button {
  width: 10px;
  height: 10px;
  background-color: #E5E5E5;
  border: none;
  border-radius: 50%;
}
.blog__buttons-container .active {
  width: 14px;
  height: 14px;
  background-color: #FA7436;
}

.about-us {
  height: 700px;
  background-color: #F7F8FC;
  display: grid;
  place-content: center;
}
.about-us__wrapper {
  width: 1170px;
  height: 450px;
  position: relative;
}
.about-us__wrapper .airplanes {
  width: 170px;
  height: 190px;
  position: absolute;
  top: 0;
  right: -170px;
}
.about-us__left {
  height: 240px;
  display: grid;
  grid-template-rows: 110px 70px 50px;
  gap: 35px;
}
.about-us__left--title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  text-align: left;
  display: block;
  width: 388px;
  height: 108px;
}
.about-us__left--title span {
  color: #FA7436;
}
.about-us__left--text {
  display: block;
  width: 430px;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #666666;
  width: 394px;
  height: 64px;
  text-align: left;
  margin: 0;
}
.about-us__left--buttons-container {
  width: 112px;
  height: 40px;
  display: flex;
}
.about-us__left--buttons-container .button {
  background-color: transparent;
  border: none;
}
.about-us__right {
  width: 100%;
  height: 100%;
  position: relative;
}
.about-us__right--image {
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -30px;
  z-index: 7;
}
.about-us__right--cards-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: grid;
  gap: 10px;
}
.about-us__right--cards-container .card-style {
  position: absolute;
  width: 504px;
  height: 245px;
  padding: 34px 74px 34px 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 2px solid rgba(102, 102, 102, 0.08);
  box-shadow: 0px 10px 30px 0px rgba(34, 34, 34, 0.1);
  font-family: "Poppins", sans-serif;
}
.about-us__right--cards-container .card-style p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 32px;
  color: #444;
}
.about-us__right--cards-container .card-style .name-info {
  width: 130px;
  height: 50px;
}
.about-us__right--cards-container .card-style .name-info h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #222222;
}
.about-us__right--cards-container .card-style .name-info span {
  font-size: 1.4rem;
  font-weight: 500;
  color: #666666;
}
.about-us__right--cards-container .front {
  top: 20px;
  z-index: 6;
}
.about-us__right--cards-container .back {
  right: 0;
  top: 120px;
  z-index: 1;
  background-color: transparent;
  border: 2px solid rgba(102, 102, 102, 0.08);
  box-shadow: 0px 10px 30px 0px rgba(34, 34, 34, 0.35);
  opacity: 0.6;
}

.things {
  height: 700px;
  background-color: #F7F8FC;
  display: grid;
  place-content: center;
}
.things .info-wrapper {
  width: 570px;
  margin: 0 auto;
  position: relative;
}
.things .info-wrapper img {
  width: 180px;
  height: 130px;
  object-fit: contain;
  position: absolute;
  right: -210px;
}
.things__title {
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
}
.things__title span {
  color: #FA7436;
}
.things__text {
  display: block;
  width: 430px;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #666666;
  width: 500px;
}
.things__card {
  width: 370px;
  height: 278px;
  padding: 40px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 14px 24px 72px 0px rgba(102, 102, 102, 0.1);
  row-gap: 40px;
  font-family: "Poppins", sans-serif;
  background-image: url("../assets/icons/orange.svg");
  background-repeat: no-repeat;
}
.things__card--image {
  width: 48px;
  height: 48px;
}
.things__card--title {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.things__card--text {
  font-size: 1.5rem;
  font-weight: 400;
  color: #666666;
}
.things .card-blue {
  background-image: url("../assets/icons/blue.svg");
}
.things .card-yellow {
  background-image: url("../assets/icons/yellow.svg");
}

/*# sourceMappingURL=styles.css.map */
